<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Ahmet Çağatay Savaşlı - Portfolio</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="assets/css/main.css" />
</head>
<body>
  {% include _header.html %}
  {% include _hero.html %}
  {% include _about.html %}
  {% include _experience.html %}
  {% include _education.html %}
  {% include _projects.html %}
  {% include _publications.html %}
  {% include _skills.html %}
  {% include _contact.html %}
  {% include _footer.html %}
</body>
</html>
